@model Blog__ASP.NET_MVC_Practical_Project.Models.Post

@{
    ViewBag.Title = "Details";
}
<div class="newmain">
    <h2>Guide</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Title
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.Body)*@
                Content
            </dt>

            <dd>
                @*<textarea class="form-control text-box multi-line valid" disabled="disabled">@Model.Body</textarea>*@
                @(Html.Raw(Blog__ASP.NET_MVC_Practical_Project.Classes___Aditional.Utils.CutText(Model.Body, 100000)))
            </dd>
            @*<dt>
                                Rate This Guide
                            </dt>
                            <dd>
                                <div id="reviewStars-input">
                    <input id="star-4" type="radio" name="reviewStars"/>
                    <label title="gorgeous" for="star-4"></label>

                    <input id="star-3" type="radio" name="reviewStars"/>
                    <label title="good" for="star-3"></label>

                    <input id="star-2" type="radio" name="reviewStars"/>
                    <label title="regular" for="star-2"></label>

                    <input id="star-1" type="radio" name="reviewStars"/>
                    <label title="poor" for="star-1"></label>

                    <input id="star-0" type="radio" name="reviewStars"/>
                    <label title="bad" for="star-0"></label>
                </div>
                                <hr />
                            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>


        </dl>

    </div>

    <div>
        <p>
            @if (User.IsInRole("Administrators"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
            }
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>






