@model Blog__ASP.NET_MVC_Practical_Project.Models.Post

@{
    ViewBag.Title = "Details";
}
<div class="newmain">
    <h2>Guide</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>Title
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.Body)*@
                Content
            </dt>

            <dd>
                @*<textarea class="form-control text-box multi-line valid" disabled="disabled">@Model.Body</textarea>*@
                @(Html.Raw(Blog__ASP.NET_MVC_Practical_Project.Classes___Aditional.Utils.CutText(Model.Body, 100000)))
            </dd>
            @*<dt>
                Rate This Guide
            </dt>
            <dd>
                <div class="rating">
                    <input type="radio" name="test" id="one" checked />
                    <label for="one"><i class="fa fa-star"></i></label>
                    <input type="radio" name="test" id="two" />
                    <label for="two"><i class="fa fa-star"></i></label>
                    <input type="radio" name="test" id="three" />
                    <label for="three"><i class="fa fa-star"></i></label>
                    <input type="radio" name="test" id="four" />
                    <label for="four"><i class="fa fa-star"></i></label>
                    <input type="radio" name="test" id="five" />
                    <label for="five"><i class="fa fa-star"></i></label>
                </div>
                <hr />
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>


        </dl>

    </div>
    </div>
<div>
    <p>
        @if (User.IsInRole("Administrators"))
            {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
            }
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>






