@model Blog__ASP.NET_MVC_Practical_Project.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="newmain">
    <h2>@ViewBag.Title.</h2>


    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
            </div>
        </div>
        //neeew
        <div class="form-group">
            @Html.LabelFor(m => m.Division, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(m => m.Division, new { @class = "form-control" })*@
                <input type="radio" name="Division" value="Unranked" checked /><i>Unranked</i><br>
                <input type="radio" name="Division" value="Bronze" /><i>Bronze</i><br>
                <input type="radio" name="Division" value="Silver" /><i>Silver</i><br>
                <input type="radio" name="Division" value="Gold" /><i>Gold</i><br>
                <input type="radio" name="Division" value="Platinum" /><i>Platinum</i><br>
                <input type="radio" name="Division" value="Diamond" /><i>Diamond</i><br>
                <input type="radio" name="Division" value="Challenger" /><i>Challenger</i><br>


            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Server, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(m => m.Server, new { @class = "form-control" })*@

                <input type="radio" name="Server" value="EUW" checked /><i>Europe - West </i>(EUW)<br>
                <input type="radio" name="Server" value="EUNE"  /><i>Europe - Nordic & East </i>(EUNE)<br>
                <input type="radio" name="Server" value="NA" /><i>North America </i>(NA)<br>
                <input type="radio" name="Server" value="JP" /><i>Japan</i>(JP)<br>
                <input type="radio" name="Server" value="KR" /><i>Korea</i>(KR)<br>
                <input type="radio" name="Server" value="BR" /><i>Brazil</i>(BR)<br>
                <input type="radio" name="Server" value="RU" /><i>Russia</i>(RU)<br>

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Brotherhood, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Brotherhood, new { @class = "form-control" })
            </div>
        </div>
        //neeew
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    </div>