@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<Blog__ASP.NET_MVC_Practical_Project.Models.Post>
<div class="jumbotron">
    <h1>League of Legends Guides Blog</h1>
 </div>

<section class="row">
    @foreach (var post in Model)
    {
        <article class="post col-md-4">
            <h2>@post.Title</h2>
            <div>
                Created on <i>@post.Date</i>
                @if (@post.Author != null)
                {
                @:by  <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
            </div>
            <p>
                @post.Body
            </p>
        </article>
    }
</section>