@model IEnumerable<Blog__ASP.NET_MVC_Practical_Project.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}
<div class="newmain">
    <h2>Summoners registered</h2>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr>
            <th>
                Summoner
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Server)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brotherhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Guides
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecurityStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LockoutEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccessFailedCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                    @if (item.UserName != null && User.Identity.Name == item.UserName)
                    {
                        @Html.ActionLink("[Your profile]", "Details", new { id = item.Id })

                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Division)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Server)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brotherhood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostsCount)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PasswordHash)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecurityStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LockoutEnabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccessFailedCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>*@
                <td>
                    @if (User.IsInRole("Administrators") || (item.UserName != null && User.Identity.Name == item.UserName))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:|
                }
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) @*|*@
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

    </table>
    </div>